div(ng-controller="filesController")  
  #pad-wrapper(ng-show="files.length > 0")
    .table-wrapper.products-table.section
      .row.head
        .span12
          h4 All Files
        .row
          table.table.table-hover
            thead
              tr
                th.col-md-2
                  input(type='checkbox')
                  | Date
                th.col-md-5
                  span.line
                  | File name
                th.col-md-1
                  span.line
                  | Size
                th.col-md-1
                  span.line
                  | Downloads
                th.col-md-2
                  span.line
            tbody
              tr(ng-repeat="f in files")
                td 
                  input(type='checkbox')
                  | {{f.completedDate | moment}}
                td
                  a.name(href='#') {{f.filename}}
                  .btn-group(style="float: right")
                    button.btn.btn-default.dropdown-toggle.btn-xs(type="button", dropdown-hover)
                      | #tags
                      span.caret
                    ul.dropdown-menu(style="padding: 0")
                      li
                        form
                          .form-group(style="margin-bottom:0")
                            input(name="tags", class="tag-field", tags-input, ng-model="f.tags", ixid="{{f.ixid}}")
                td
                  | {{f.size | formatFileSize}}
                td
                  | {{f.downloadCount}}
                td.align-right
                  .btn-group.btn-group-sm
                    button.btn.btn-primary(href='#') Share
                    button.btn.btn-danger(href='#', ng-click="trashFile($index)") Delete
  #pad-wrapper(ng-show="files.length == 0")
    .row-fluid.header
    .no-gallery
      .center
        img(src='/img/1379620524_add_file.png')
        h6 You don't have any files on your storage
        p
          | Click the button below to select files from your computer. 
          | You can drag files into this space and drop to upload. 
        a.btn-glow.primary(data-ng-click="clickBrowse()") Add files
    // end blank state 
                