#pad-wrapper
  .row-fluid.header
  .no-gallery
    .center
      img(src='/img/1379620524_add_file.png')
      h6 You don't have any files on your storage
      p
        | Click the button below to select files from your computer. 
        | You can drag files into this space and drop to upload. 
      a.btn-glow.primary(data-ng-click="clickBrowse()") Add files
  // end blank state 
  .row.head
    .col-md-12
      h4 Upload Queue      
  .row
    .table-wrapper.users-table.section
      table.table.table-hover
        thead
          tr
            th.col-md-3 
              | Filename
            th.col-md-1
              span.line
              | Size
            th.col-md-4
              span.line
              | Progress
            th.col-md-2
              span.line
              | URL
            th.col-md-2
              span.line
              | Actions
        tbody
          tr.first
            td
              img.img-circle.avatar.hidden-sm.img-responsive(src='/img/contact-img.png')
              p
                a.name(href='user-profile.html') my_pic.jpg
                span.subtext JPEG Image
            td 20MB
            td
              .progress
                .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%;')
                  span.sr-only 60% Complete 
              span.badge 400KBps
              span.badge 2m left
            td.align-right
              a(href='#') http://i-x.it/ihhfYU
            td.align-right
              .btn-group.btn-group-sm
                button.btn.btn-primary(href='#') Share
                button.btn.btn-danger(href='#') Delete