.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .navbar-header
    a.navbar-brand(href='/dashboard')
      | iXit
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav.navbar-right
      li.hidden-phone
        input.search(type='text')
      li.notification-dropdown.hidden-phone
        a.trigger(href='#') Queue
        span.badge.pull-right {{qcount}}
        .pop-dialog(ng-show="filequeue.length > 0")
          .pointer.right
            .arrow
            .arrow_border
          .body
            a.close-icon(href='#')
              i.icon-remove-sign
            .notifications
              h3 You have 6 uploads on queue
              .item(href='#', ng-repeat="file in filequeue")
                i.icon-cloud-upload
                | {{file.name}}
                .progress
                  .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: {{file.progress}};')
                    span.sr-only 60% Complete
                span.stat
                  i.icon-hdd
                  | {{file.size}}                
                span.stat
                  i.icon-time
                  | {{file.tftime}}
                span.stat
                  i.icon-exchange
                  | {{file.tfrate}}
              .footer
                a.logout(ng-click="clearAll()") Clear all transfers
      li.notification-dropdown.hidden-phone
        a.trigger(href='#')
          i.icon-envelope-alt
        .pop-dialog
          .pointer.right
            .arrow
            .arrow_border
          .body
            a.close-icon(href='#')
              i.icon-remove-sign
            .messages
              a.item(href='#')
                img.display(src='img/contact-img.png')
                .name Alejandra Galván
                .msg
                  | There are many variations of available, but the majority have suffered alterations.
                span.time
                  i.icon-time
                  | 13 min.
              a.item(href='#')
                img.display(src='img/contact-img2.png')
                .name Alejandra Galván
                .msg
                  | There are many variations of available, have suffered alterations.
                span.time
                  i.icon-time
                  | 26 min.
              a.item.last(href='#')
                img.display(src='img/contact-img.png')
                .name Alejandra Galván
                .msg
                  | There are many variations of available, but the majority have suffered alterations.
                span.time
                  i.icon-time
                  | 48 min.
              .footer
                a.logout(href='#') View all messages
      li.dropdown
        a.dropdown-toggle.hidden-phone(href='#', data-toggle='dropdown')
          | Your account
          b.caret
        ul.dropdown-menu
          li
            a(href='personal-info.html') Personal info
          li
            a(href='#') Account settings
          li
            a(href='#') Billing
          li
            a(href='#') Export your data
          li
            a(href='#') Send feedback
      li.settings.hidden-phone
        a(href='personal-info.html', role='button')
          i.icon-cog
      li.settings.hidden-phone
        a(href='signin.html', role='button')
          i.icon-share-alt
