.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .navbar-header
    a.navbar-brand(href='/dashboard', style="padding-right: 30px")
      | iXit
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav.navbar-right(style="margin-right: 0")
      li.hidden-phone
        form(ng-submit="searchQuery()")
          .form-group
            input.search(type='search', ng-model="queryString", placeholder="Filenames or Tags")
      li.notification-dropdown.hidden-phone(ng-controller="queueController")
        a.trigger(href='#') Queue
        span.badge.pull-right {{filequeue.length}}
        .pop-dialog(ng-show="filequeue.length > 0")
          .pointer
            .arrow
            .arrow_border
          .body
            a.close-icon(href='#')
              i.icon-remove-sign
            .notifications
              h3 You have {{filequeue.length}} uploads on queue
              .item(href='#', ng-repeat="queue in filequeue", class="file-{{queue.identifier}}")
                i.fa.fa-cloud-upload
                | {{queue.filename}}
                .progress
                  .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
                    span.sr-only 60% Complete
                span.stat
                  i.fa.fa-hdd-o
                  | {{queue.size | formatFileSize}}                
                span.stat.pull-right
                  a(href="#", ng-click="clear($event, queue.mediaNumber, queue.identifier)") Remove
                span.stat
                  i.fa.fa-info-circle(ng-show="queue.isQueued", queue-tip )
              .footer
                button.btn.btn-default(ng-click="toggleUpload()", ng-init="uploadStateText = 'Start'") 
                  i.fa(ng-class="uploadStateClass")
                  |  {{uploadStateText}} all
                button.btn.btn-warning(ng-click="clearAll()")  Clear all 
                  i.fa.fa-times-cirle-o                 
      li.notification-dropdown.hidden-phone
        a.trigger(href='#')
          i.fa.fa-envelope-o
        .pop-dialog
          .pointer.right
            .arrow
            .arrow_border
          .body
            a.close-icon(href='#')
              i.fa.fa-times
            .messages
              a.item(href='#')
                img.display(src='img/contact-img.png')
                .name Alejandra Galván
                .msg
                  | There are many variations of available, but the majority have suffered alterations.
                span.time
                  i.icon-time
                  | 13 min.
              a.item(href='#')
                img.display(src='img/contact-img2.png')
                .name Alejandra Galván
                .msg
                  | There are many variations of available, have suffered alterations.
                span.time
                  i.icon-time
                  | 26 min.
              a.item.last(href='#')
                img.display(src='img/contact-img.png')
                .name Alejandra Galván
                .msg
                  | There are many variations of available, but the majority have suffered alterations.
                span.time
                  i.icon-time
                  | 48 min.
              .footer
                a.logout(href='#') View all messages
      li.dropdown
        a.dropdown-toggle.hidden-phone(href='#', data-toggle='dropdown')
          | Your account
          b.caret
        ul.dropdown-menu
          li
            a(href='#', ng-click="commons.href('/dashboard/user/account')") Profile
          li
            a(href='#', ng-click="commons.href('/dashboard/user/developer')") Developer
          li
            a(href='#') Support
      li.settings.hidden-phone
        a(href='signin.html', role='button', title="Logout")
          i.fa.fa-sign-out
  .progress(ng-show="isUploading")
    .progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", ng-style="overallUploadProgress")
