.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  .navbar-header
    a.navbar-brand(href='/dashboard', style="padding-right: 30px")
      | iXit
  .collapse.navbar-collapse.navbar-ex1-collapse
    ul.nav.navbar-nav.navbar-right(style="margin-right: 0")
      li.hidden-phone
        form(ng-submit="searchQuery()")
          .form-group
            input.search(type='search', ng-model="queryString", placeholder="Filenames or Tags")
      li.notification-dropdown.hidden-phone(ng-controller="queueController")
        a.trigger(href='') Queue
        span.badge.pull-right {{$parent.$flow.files.length}}
        .pop-dialog(ng-show="$parent.$flow.files.length > 0")
          .pointer
            .arrow
            .arrow_border
          .body
            a.close-icon(href='')
              i.icon-remove-sign
            .notifications
              h3 You have {{$parent.$flow.files.length}} uploads on queue
              .item(href='', ng-repeat="queue in $parent.$flow.files", class="file-{{queue.identifier}}")
                i.fa.fa-cloud-upload
                | {{queue.name}}
                .progress
                  .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
                span.stat
                  i.fa.fa-hdd-o
                  | {{queue.size | formatFileSize}}                
                span.stat.pull-right
                  a(href="#", ng-click="clear($event, queue.mediaNumber, queue.identifier)") Remove
                span.stat
                  i.fa.fa-info-circle(ng-show="queue.isQueued", queue-tip )
              .footer
                button.btn.btn-default(ng-click="toggleUpload()", ng-init="uploadStateText = 'Start'") 
                  i.fa(ng-class="uploadStateClass")
                  |  {{uploadStateText}} all
                button.btn.btn-warning(ng-click="clearAll()")  Clear all 
                  i.fa.fa-times-cirle-o                 

      li.dropdown
        a.dropdown-toggle.hidden-phone(href='', data-toggle='dropdown')
          | Your account
          b.caret
        ul.dropdown-menu
          //- li
          //-   a(href='', ng-click="commons.href('/dashboard/user/account')") Profile
          li
            a(href='') Support
      li.settings.hidden-phone
        a(href='/logout', role='button', title="Logout", target="_self")
          i.fa.fa-sign-out
  .progress(ng-show="$flow.isUploading()")
    .progress-bar(role="progressbar", aria-valuenow="60", aria-valuemin="0", aria-valuemax="100", ng-style="{width: $flow.progress() * 100 + 'px'}")
