div.files-ctrlr
  .row.stats-row
    #main-stats
      .col-md-3.col-md-offset-6.stat.first
        .data
          span.number #{files}
          | files
      .col-md-3.stat.last
        .data
          span.number #{size}
          | MB    

  .row
    #pad-wrapper
      .crumb-block
        .pull-left
          ul.breadcrumb
            li <a ui-sref='cabinet.files'>Home</a>
            //- li(ng-repeat="p in $parent.path") <a ui-sref='cabinet.folder({folderId: p.id})'>{{p.name}}</a>

        .pull-right    
          form.form-inline.create-folder(style="margin-left: 10px", ng-submit="create_folder(newFolderInput)")
            .form-group
              .folder-input()
                input.form-control(type="text", placeholder="Folder name", ng-model="newFolderInput")
            button.btn.btn-flat.btn-success(type="submit", ng-disabled="!newFolderInput") Create Folder 
        .clearfix
  div.ui-wrap(ui-view="cabinetView")
