doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    meta(name='description', content='Upload your files to I-X.it. Share files to anyone from your cabinet. Audio, Photos and Office Documents supported with Unlimited Storage.')

    block styles
      link(href='http://fonts.googleapis.com/css?family=Economica', rel='stylesheet', type='text/css')
      link(href='/css/components.css', rel='stylesheet', type='text/css')
      link(href='/css/public.css', rel='stylesheet', type='text/css')


    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4614510-20']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body(ng-app='ixitApp')
    div(ng-controller='MainController')
      block modals
      block body
    #footer
      .container
        .row
          .offset4.span4
    block scripts
      script(src='/js/components.js')
      script(src='/js/vendor.js')
      script(src='/js/public.js')
    block templates

