extends layouts/dashboard

block body
  div#wrap.col-md-10(ui-view="main")
append modals
  #emailModal.modal.hide.fade
      .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h3 Email link
        .modal-body
          form.
            .control-group
              label.control-label(for='input_email') Email
              .controls
                input#input_email(type='text', placeholder='Email')
            .control-group
              label.control-label(for='input_subject') Subject
              .controls
                input#input_subject(type='text', placeholder='')
            .control-group
              label.control-label(for='email_message_area') Message
              .controls
                textarea#email_message_area(rows='3')
        .modal-footer
          a.btn.close-modal(href='#') Close
          a.btn.btn-primary.emailBtn(href='#') Send  