
.row(style="border-bottom: 1px solid #C4C4C4; margin: 0")
  .col-md-2
    .itemThumb
      img.img-polaroid(src='img/no-img50x50.png')
  .col-md-8
    div.row
      .itemName.b-left
        em#txt {{file.name}}
    .row
      .col-md-12(style="padding: 0")
        .btn-group.btn-group-xs.pull-right(style="margin-top: 2px")
            button.btn.btn-default(type='button', rel='tooltip', title='File Size',  disabled="disabled") {{_formatFileSize(file.size)}}
            button.btn.btn-default(type='button', rel="tooltip", title='Upload Speed',  disabled="disabled") -
            button.btn.btn-default(type='button', rel='tooltip', title='Time Remaining',  disabled="disabled") -
  .col-md-2
    .c-p
      orbicular(progression='file.doneSize', total='file.size', style="font-size: 56px !important")
        i.fa.fa-play(style="color: black; font-size: 14px")
