.small-box(ng-repeat="an in notes", ng-class="an.class")
  .box-icon.pull-left
    i.fa.fa-3x(ng-class="an.icon", style="margin-right: 5px")
  .pull-right
    i.fa.fa-times(ng-click="close_an($index)")
  .box-content
    .box-title
      h6 {{an.heading}}
    .box-mssg
      p {{an.message}}