.small-box.prompt-box.animated(ng-repeat="an in a_p", ng-class="an.class")
  .box-icon.pull-left(style="font-size: 35px")
    i.fa(ng-class="an.icon")
  .pull-right
    i.fa.fa-times(ng-click="close_an($index)")
  .box-content
    .box-title
      h6 {{an.heading}}
    .box-mssg
      p {{an.message}}
    .action-tinz
      button.btn.btn-flat.inverse(ng-click="close_an($index)") Cancel
      button.btn.btn-flat.white(ng-click="exec_yes($index)") Yes