.small-box(ng-repeat="an in a_p", ng-class="an.class")
  .box-icon.pull-left
    i.fa.fa-trash-o
  .pull-right
    i.fa.fa-times
  .box-content
    .box-title
      h6 {{an.heading}}
    .box-mssg
      p {{an.message}}
    .action-tinz
      button.btn.btn-flat.inverse(ng-click="close_an($index)") Cancel
      button.btn.btn-flat.white(ng-click="exec_yes($index)") Yes