#wrap
    .container
        .row
          include ../includes/navigation
        #_primary.row
          .col-md-12
            .row
              .col-md-offset-4.col-md-4
                .logo
                  a(href='/') 
                    img#imgLogo(src='/img/logo.png')
                  span.logo-sub shrink, shorten, share everything
            .row
              .col-md-offset-4.col-md-4
                .login-row.well
                  h3.text-center Login here
                  hr
                  .bubblingG(ng-show='isLoading')
                    span#bubblingG_1
                    span#bubblingG_2
                    span#bubblingG_3
                  .alert.fade.in.alert-danger.alert-dismissable(ng-show='flash', ng-bind='flash')
                  form#auth_login(role='form', ng-submit='login()', novalidate='novalidate')
                    .form-group
                      label(for='email') Email Address
                      input#email.form-control(type='email', placeholder='example@example.com', name='email', ng-model='form.email', required='required')
                    .form-group
                      label(for='password') Password
                      input#password.form-control(name='password', type='password', ng-model='form.password', required='required', ng-minlength='6')
                    .form-group
                      label(for="rememberme") Remember me
                        input#rememberme(name="rememberme", type="checkbox", ng-model="form.rememberme")
                    .form-group
                      button.btn.btn-primary(type='submit') Sign In
                  h5
                    | Dont have an account? <a href='/register'> Register</a>
                  h5
                    | Forgot your password? <a href='/recover'> Request Password</a>
            .row
              .col-md-offset-4.col-md-4
script(src='js/modules/login.js')